@media (max-width: 420px) and (orientation: landscape) {
	.div-botoes{
		display: none;
		background-color: red;
	}
	.btn-sobre-video img{
	width: 16px;
		}

	.btn-sobre-video{
	
	top: calc(100vh - 40vh);
	left: calc(100vw - 90vw);
	width: 20px;
	height: 20px;
	display: none;

		}
}

@media (max-width: 800px) and (orientation: landscape) {
	.div-botoes{
		display: none;
		background-color: red;
	}

}





@media (max-width:800px){
	.lista-menu{
		display: none;
	}

	.logo-menu{
	
	width: 150px;
	}

	.nav-bar{
	
	justify-content: center;
	align-items: center;
	}


}

@media (max-width: 430px){
	.logo-menu{
		display: none;
		}

	.logo2{
		display: block;
	}

	.nav-bar{
	margin-top: 20px;
		}

	.div-botoes{
	width: 300px;
		}

	.card-sobre-video img{
	max-width: 250px;
		}

	.card-sobre-video{
		width: 300px;
	}

	.card-sobre-video{
	top: calc(100vh - 80vh);
	left: calc(100vw - 95vw);
	width: 300px;
		}

	.btn-sobre-video{
	
	top: calc(100vh - 20vh);
	left: calc(100vw - 25vw);

		}
}




