@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;

}


body{
	margin: 0;
	background: gray;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
}
video{
	width: 100%;
	height: 100vh;
	background-size: cover;
	object-fit: cover;

}
.nav-bar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

}
.logo-menu{
	display: flex;
	align-items: center;
	min-width: 500px;
	
}
.logo-menu img{
	margin-left: 25px;
	margin-right: 20px;
	width:105px;
}

.lista-menu{
	display: flex;
}

.lista-menu li{
	color: white;
	font-weight: 300;
	margin: 10px;
}

.lista-menu li a{
	cursor: pointer;
	color: white;
	font-weight: 300;
	
}

.lista-menu li a:hover{
	
	color: darkgray;	
	
}

.itens-especiais-menu{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-width: 280px;
	
	margin-right: 15px;
}

.itens-especiais-menu a{
	color: white;
	font-weight: 300;

}


.itens-sobre-video{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(100vh - 100px);
	left: calc(100vw - 100px);
	border: 1px solid gray;
	border-radius: 90px;
	width: 80px;
	height: 80px;
}


.btnNoMute{
	display: none;

}